@import "tailwindcss";

:root {
  --background-main: #0D1117;
  --background-secondary: #121821;
  --cube-light: #D6E8FA;
  --cube-dark: #60B2F5;
  --phone-border: #333333;
  --phone-notch: #1a1a1a;
  --phone-screen-start: #1a1a2e;
  --phone-screen-end: #0f0f1a;
  --cube-shadow: #2e1065;
  --feature-1: #7A859E; /* Muted Blue-Grey */
  --feature-2: #C061CB; /* Orchid Purple */
  --feature-3: #5FB4F5; /* Sky Blue */
  --feature-4: #D665A8; /* Pink */
  --input-bg: #161b22;
  --input-border: #30363d;
  --primary-blue: #38bdf8;
  --accent-purple: #a855f7;
  --text-main: #F2F2F2;
  --color-foreground: var(--foreground);
  --color-accent-blue: var(--accent-blue);
  --color-accent-purple: var(--accent-purple);
  --color-primary-blue: var(--primary-blue);
  --color-input-bg: var(--input-bg);
  --color-input-border: var(--input-border);
  --color-text-main: var(--text-main);
  --color-cube-light: var(--cube-light);
  --color-cube-dark: var(--cube-dark);
  --color-phone-border: var(--phone-border);
  --color-phone-notch: var(--phone-notch);
  --color-phone-screen-start: var(--phone-screen-start);
  --color-phone-screen-end: var(--phone-screen-end);
  --font-bebas: var(--font-bebas);
  --font-manrope: var(--font-manrope);
}

@theme inline {
  --color-cube-shadow: var(--cube-shadow);
  --color-feature-1: var(--feature-1);
  --color-feature-2: var(--feature-2);
  --color-feature-3: var(--feature-3);
  --color-feature-4: var(--feature-4);
  --color-background-main: var(--background-main);
  --color-background-secondary: var(--background-secondary);
  --color-foreground: var(--foreground);
  --color-accent-blue: var(--accent-blue);
  --color-accent-purple: var(--accent-purple);
  --color-primary-blue: var(--primary-blue);
  --color-input-bg: var(--input-bg);
  --color-input-border: var(--input-border);
  --color-text-main: var(--text-main);
  --color-cube-light: var(--cube-light);
  --color-cube-dark: var(--cube-dark);
  --color-phone-border: var(--phone-border);
  --color-phone-notch: var(--phone-notch);
  --color-phone-screen-start: var(--phone-screen-start);
  --color-phone-screen-end: var(--phone-screen-end);
  --font-bebas: var(--font-bebas);
  --font-manrope: var(--font-manrope);

}

html, body {
  scroll-behavior: smooth !important;
}

@utility section-padding {
  @apply px-8 md:px-32 lg:px-48;
}


body {
  background: var(--background-main);
  color: var(--foreground);
  font-family: var(--font-manrope), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-bebas), sans-serif;
  text-transform: uppercase;
}
